body {
  background: rgb(31,207,192);
  background: linear-gradient(275deg, rgba(31,207,192,0.9262079831932774) 8%, rgba(230,197,255,0.9122023809523809) 51%, rgba(28,132,201,0.9206057422969187) 89%);
}
h1 {
  text-align: center;
  color: radial-gradient(circle, rgba(255,255,255,1) 20%, rgba(86,172,242,1) 85%);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 100px;
  border-style: outset;
  border-width: 10px;
  border-radius: 20px;
  margin: 10px;
}
h2 {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
}
h3 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 40px;
  text-align: center;
  border-style: outset;
  border-radius: 20px;
  padding: 5px;

}
p, p2 {
  text-align: center;
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p3 {
  text-align: center;
  font-size: 60px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.cSharp, .java, .ruby, .go {
  display: none;
  background: rgb(255,0,0);
  background: linear-gradient(275deg, rgba(255,0,0,1) 0%, rgba(255,173,0,1) 12%, rgba(248,255,0,1) 31%, rgba(67,255,0,1) 48%, rgba(0,217,255,1) 67%, rgba(113,0,255,1) 79%, rgba(255,0,204,1) 94%, rgba(242,86,86,1) 100%);
  border-style: outset;
  border-radius: 20px;
  border-width: 15px;
  padding: 10px;
}
label img {
  width: 200px;
  height: auto;
}
#submit {
text-align: center;
font-size: 50px;
border-style: outset;
border-width: 10px;
border-radius: 20px;
margin: 10px;
}
#result-img1 img, #result-img2 img, #result-img3 img, #result-img4 img {
  width: 300px;
  height: auto;
}